<nav class="navbar navbar-default" style="background-color:burlywood;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand"><p class="txt"><strong>Dashboard</strong></p></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
            <a routerLink="/cardset"><p class="txt">Businesscards</p></a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/camera"><p class="txt">Camera</p></a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a routerLink="/auth"><p class="txt">Authenticate</p></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" app-Dropdown *ngIf="isAuthenticated">
          <a style="cursor:pointer;" class="dropdown-toggle" role="button"><p class="txt">Manage<span class="caret"></span></p></a>
          <ul class="dropdown-menu">
            <li><a style="cursor:pointer;" (click)="onSaveData()"><p class="txt">Save Data</p></a></li>
            <li><a style="cursor:pointer;" (click)="onFetchData()"><p class="txt">Fetch Data</p></a></li>
            <li *ngIf="isAuthenticated"><a style="cursor: pointer;" (click)="onLogout()"><p class="txt">Logout</p></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>