<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="firstname"><p class="txt">Firstname</p></label>
                        <input type="text" id="firstname" formControlName="firstname" class="form-control">
                        <label for="lastname"><p class="txt">Lastname</p></label>
                        <input type="text" id="lastname" formControlName="lastname" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email"><p class="txt">Email</p></label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="company"><p class="txt">Company</p></label>
                        <input type="text" id="company" formControlName="company" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="title"><p class="txt">Title</p></label>
                        <input type="text" id="title" formControlName="title" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="phone"><p class="txt">Phone</p></label>
                            <input type="text" id="phone" formControlName="phone" class="form-control">
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-xs-12">
                        <button type="submit" class="btn btn-success" [disabled]="!cardForm.valid"><p class="txt">Save</p></button> |
                        <button type="button" class="btn btn-danger" (click)="onCancel()"><p class="txt">Cancel</p></button>
                </div>
            </div>
        </form>
    </div>
</div>